* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}
  
  
.logo {
	float: right;
	box-shadow: 2px 2px 5px black;
  }
  
.top {
	padding: 17px;
	text-shadow: 0px 0px 10px gray;
  }  
  
  /*admin data above - copy across all pages. */

form {
	padding: 20px;
	margin: 10px;
	
}


.formcontent {
	float: left;
	width: 50%;
	padding: 10px;
}

.newscontent {
	clear: both;
	float: right;
	width: 50%;
	padding: 10px;
	margin: 10px;
}


input[type=text], select, textarea {width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

#myForm {
	
}