.header {
	text-align: center;
	margin: 10px;
}

.top {
	padding: 17px;
	text-shadow: 0px 0px 10px gray;
  }

.rmain {
	clear: right;
}

.bmain {
	clear: both;
}

.bio {
	font-size: 1.25rem;
	text-indent: 50px;
	margin: 20px;
	padding: 20px;
	line-height: 2.5rem;
}

#toppic {
	padding: 10px;
	margin: 20px;
	width: 50%;
	float: right;
	clear: both;
}

#tpmid {
	padding: 10px;
	margin: 20px;
	width: 50%;
	float: left;
}

main > div > h1 { 
text-align: center;
}

#endpoint {
}