.serveInfo {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
	padding: 2rem;
	align-items: center;
	justify-content: space-around;
}

.serveInfo {
  background-color: #222;
  border-left: 5px outset var(--accent-gold);
  border-right: 5px inset var(--accent-gold);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 2px var(--accent-gold-20);
}

.serve {
    box-shadow: 0 0 0 3px var(--bg-secondary);
    border-radius: 5px;
	height: 100%;
}

.serve h2 {
	text-align: center;
}

.serve p {
	line-height: 2rem;
	text-align: center;
}

.call2ActBtn {
	display: inline-block;
	padding: 14px 28px;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-radius: 6px;
	background-color: #ffcc00;
	color: white;
	border: 2px solid black;
	transition: background-color 0.3s ease;
}

.call2ActBtn:hover {
	cursor: pointer;
	background-color: #e6b800
}

@media max-width(768px) {
	.serveInfo {
		grid-template-columns: 1fr;
	}
}